

<style>
{

}
h1 {
   /*  line-height: 100%; */
    color: #040474;
    font-family: 'Akaya Kanadaka', cursive;
    text-align: center;
    font-size: 70px;
    padding-top: 1em;
    padding-left: 0em;
   
}
.cookie {
    max-height: 10%;
}
form {
   /*  width: 100%; */
    max-width: 600px;
    margin: 0 auto;
    font-size: 30px;
    color:  #040474;
    border: 7px solid #040474;

}
body {
    background-image: url('pale_blue_background.jpg');
    background-size: cover;

}
button {
    color: #ffffff;
    background-color: #040474;
    font: 'Roboto';
 /*  Trying to style the component- 
  Need to create divs- style the items to be centered, have a border
  and make the chart have the blue background. Then I'd like to end w/ the big
  cookie behind the whole chart w/ blue background. Can I style all in CSS? I 
  think so, but not haveing any luck. Need to move onto the next assignment and ask ;)  */ 
}
#myCookieApp {
  background: #fff;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0;
  position: center;
  box-shadow: 0 2px 4px 0 rgba(102, 174, 196, 0.2), 0 2.5rem 5rem 0 rgba(0, 0, 0, 0.1);
}
#app > * {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
#app > form {
  max-width: 100%;
}
#app h1 {
  display: block;
  min-width: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
</style>

