<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Order Form</title>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Roboto&display=swap" rel="stylesheet">
    <link href="cookieform93.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    
    <h1>Cookie</h1>
    <h2>Order Form</h2>
   
    <div id="myCookieApp">
      <div class="#myCookieApp" v-cloak></div>
      <cookie-chart v-for="(cookie,index) in cookies"
         v-bind:image="cookie.image"
          v-bind:name="cookie.name"
          v-bind:time="cookie.time"
         v-bind:yields="cookie.yields"
         v-bind:recipe="cookie.recipe"
      v-bind:key="index"
      
      ></cookie-chart>
      <time></time>

    <div>
      <form v-on:submit.prevent="submitHandler">
        <fieldset>
          <legend>Add a Cookie Recipe!</legend>
        <div>
          <label for="image">Cookie</label>
          <input id="image" type="text" 
          v-model="newCookieObj.image">
        </div>
        
          <div>
            <label for="name">Name</label>
            <input id="name" type="text"
            v-model="newCookieObj.name">
          </div>

          <div>
            <label for="time">Time</label>
            <input id="time" type="text" 
            v-model="newCookieObj.time">
          </div>
           
          <div>
            <label for="yields">Yields</label>
            <input id="yields" type="text" 
            v-model="newCookieObj.yields">
          </div>

          <div>
            <label for="recipe">Recipe</label>
            <input id="recipe" type="recipe" 
            v-model="newCookieObj.recipe">
          </div>

          <button id="submit" type="submit">SUBMIT</button>

        </fieldset>
      </form>
    </div>
  </div>
  <div style="background-image: url('pale_blue_background.jpg');"></div>
  <script src="cookieform93.js"></script>
</body>

</html>





<!-- Looks like your form is not inside the div that the Vue instance is targeting so the form isn't going to work. And the button is passing the whole cookie array instead of just one cookie on the delete event. It should look like this (note the pluralization): I put inside the wrong Div! Thank u Ken!!

INSTRUCTIONS
Convert "row" element into a component.

In your last assignment, you modified your collection app to allow you to add and delete items. 

This week, we will optimize it by converting the repeated element into a component. Use a single object property or multiple properties to pass the data from your objects in the array into the new component.

Do not include the delete button! We will discus possible solutions for communicating between parent and child components next week.

Please note! If your repeated element is a TR tag, Vue may throw an error if you try to nest your component in a table. In this situation (as well as with LI tags), you should use the appropriate tag and then use the is attribute. 

For example, if you component was called <my-light>, and I used a TR tag as my repeating element, I would use <tr is="my-light">.
 -->