html, body {
  margin: 0;
  padding: 300;
  background-color: #051230; 
  
}
body, p {
  color: #ffffff;
  text-align: center;
  padding: 0;
  font-family: 'Teko light 300', sans-serif;
  font-size: 20px;
  
}
h1 {
  text-align: center;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  
}

button {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  color: white;
  fill:#006699;
  margin-top: 10px;
  background-color: white;
  border: none;
  color: #092054;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 30px 10px;
  width: 10%; 
 
}

/* .container .btn {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: #006699;
  font-size: 19px;
  padding: 16px 10px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-align: center; */
/* } */
/* // hovering button !!!!! NOT WORKING */
/* .container .btn:hover {
  background-color: #006699;
  color: white;

}
  a:link, .btn:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn:hover, .btn:active {
  background-color: red;
} */

/* OPT 2 */
/* Link Buttons  */
/* a:link, a:visited {
  background-color: #092054;
  color: #b0f0f7;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-colo4336;
}  */

  