html, body {
  margin: 10;
  padding: 30;
  background-color: #092054;
  width: 600px;
  height: 400px;
}
ul {
  list-style-type: none;
  margin: 10;
  padding: 30;
  
}
body, p {
  color: #092054;
  text-align: center;
  
}

h1 {
  text-align: center;
  color: #ffffff;
}
h2, href {
  top: 400px;
  background-color: #b1c6f7;
  text-align: center;
  color: white;
}
