html, body {
  margin: 0;
  padding: 0;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
canvas {
 
  display: inline;
  position: absolute;
  left: 300px;
  top: 300px;
  border:1px solid #ffffff;
  
}
body, p {
  color: #092054;
  text-align: center;
  
}

h1 {
  background-color: #092054;
  text-align: center;
  color: white;
}
h2 {
  left: 100px;
  top: 400px;
}
