font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
[v-cloak] {
  display: none;
}
.animal-container {
  border: 5px solid #333;
  width: 260px;
  padding: 20px;
}
.common-name {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.binomia-Name {
  font-size: 70px;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.image img {
  display: block;
  width: 220px;
  margin: 10px auto;
